.background {
	height: 100vh;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 55px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.41);
	padding: 18px 80px;
	font-family: Verdana, sans-serif;
}
.site-title {
	font-size: 20px;
	font-weight: 700;
}
.site-title a {
	color: #fff;
	text-decoration: none;
	transition: .3s;
}
.site-title a:hover{
	color: #3cb878;
}
.header_icons-login-block, .header-icons {
	display: flex;
	align-items: center;
}
.header-icons {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	margin-right: 25px;
}
.icon {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../img/css_sprites.png);
	margin-right: 28px;
}
.calendar {
	background-position: -106px -10px;
}
.forum {
	width: 28px;
	background-position: -10px -10px;
}
.compass {
	background-position: -10px -50px;
}

.calendar:hover {
	background-position: -106px -49px;
}
.forum:hover {
	background-position: -58px -10px;
}
.compass:hover {
	background-position:  -50px -50px;
}
.log_in-sing_up{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}
.link {
	font-size: 14px;
	font-weight: 400;
	color: #3cb878;
	text-decoration: none;
	transition: .3s;
}
.link:hover {
	text-decoration: underline;
}
.sing_up-form-section{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100% - 55px);
	min-height: 650px;
}
.sing_up-form-block {
	font-family: Verdana, sans-serif;
	background: #fff;
	width: 444px;
	box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
	border-radius: 10px;
	padding: 30px 60px;
	box-sizing: border-box;
	overflow: hidden;
}
.form-title {
	color:  #434343;
	font-size: 20px;
	font-weight: 400;
	display: inline-block;
}
.log_in-link {
	display: inline-block;
}
.string {
	display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.relative-position {
	position: relative;
}
.green-squere {
	position: absolute;
  width: 18px;
  height: 18px;
  left: -60px;
  background: #3cb878;
}
.facebook-btn, .google-btn {
	display: inline-block;
	border-radius: 3px;
	box-sizing: border-box;
  padding: 14px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
	width: 157px;
	height: 46px;
	transition: .3s;
} 
.facebook-btn {
	background-color: #305db8;
} 
.facebook-btn:hover {
	background-color:  #264b96;
}
.google-btn {
	background-color: #df4a32;
}
.google-btn:hover {
	background-color: #c3412c;
}
.social-icon {
	display: inline-block;
	box-sizing: border-box;
	padding-right: 17px;
	margin-right: 18px;
	font-size: 18px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.social-btns {
	margin-bottom: 33px;
}
.grey-line {
	width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.1);
}
.grey-txt {
	color: #848484;
	font-size: 14px;
	font-weight: 400;
	margin-left: 18px;
	margin-right: 18px;
}
.marginbottom18 {
	margin-bottom: 18px;
}
.text-input {
	font-family: Verdana;
	font-size: 14px;
	width: 100%;
	height: 46px;
  margin-bottom: 10px;
  padding: 18px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  transition: .3s;
}
.text-input:focus {
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
.marginbottom22 {
	margin-bottom: 22px;
}
.agreement {
	color:  #434343;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 28px;
}
.checkbox:checked {
	background: red;
}
.form-btn {
  width: 100%;
  height: 46px;
  background: #3aba78;
  border: none;
  color: #fff;
  font-size: 16px;
	font-weight: 400;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s;
}
.form-btn:hover {
	background-color: #2f9b65;
}