.container {
	box-sizing: border-box;
	padding: 30px;
	background-color: #374765;
	height: 100vh;
	min-height: 696px;
}
.table {
	font-family: 'Arimo', sans-serif;
  margin: 0 auto;
}
/*.thead {
  border-right: 1px solid grey;
  border-collapse: collapse;	
}*/
.table tr {
	background: #fafafa;
	color:  #484848;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}
.table td, .table th {
	vertical-align: middle;
  padding: 18px 33px 18px 33px;
	box-sizing: border-box;
	box-shadow: inset -3px 0px 6px -3px rgba(0, 0, 0, 0.27);
}
.table td {
	font-size: 16px;
	font-weight: 400;
  min-width: 270px;
}
.pricing-plan {
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
}
.pricing-plan span {
	font-size: 30px;
}
.standard, .ultimate, .premium {
	color: white;	
	font-size: 30px;
	font-weight: 700;
}
.standard {
	background: #89c331;
}
.ultimate {
	background: #f04855;
}
.premium {
	background: #1a817d;
}
.price-td {
	position: relative;
	text-align: left;
}
.price-td span {
	display: inline-block;
}
.bigprice {
	font-size: 60px;
	font-weight: 700;
}
.smallprice {
	position: absolute;
	top: 7px;
	font-size: 24px;
	font-weight: 700;
}
.payment-period {
	position: absolute;
  bottom: 22px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}
.tbody tr:nth-child(even) {
	background-color: #e4e4e4;
}
.tbody td i {
	color: #858585;
}
.buttons-row {}
.buttons-row td {
	padding: 30px;
}
.buttons-row td:nth-child(even) {
	background: #efefef;
}
.buttons-row td:nth-child(odd) {
	background: #f4f4f4;
}
.buttons-row td:first-child {
	background: #dedede;
}
.contact-btn {
	background: #484848;
}
.buttons-row button {
	color: white;	
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
	border: none;
	width: 192px;
	height: 49px;
	outline: none;
	cursor: pointer;
	box-shadow: inset 0px -7px 0px 0px rgba(0, 0, 0, 0.15);
	transition: .3s;
}
.buttons-row button:hover {
	transform: scale(.98);
	box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.15);
}