body {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	min-height: 835px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
}
.container {
	margin: 0 auto;
	width: 1064px;
	padding-top: 45px;
	box-sizing: border-box;
}
.header{
	height: 64px;
}
.logo {
	display: inline-block;
	overflow: hidden;
	width: 20%;
	height: 100%;
}
.logo__img, .logo__name {
	display: inline-block;
	transition: .3s;
}
.logo__img{
	background-image: url(../img/logo.png);
	margin-right: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 32%;
	height: 100%;
}
.logo__name {
	color: #fff;
	font-weight: 700;
    font-size: 44px;
    line-height: 31px;
    float: right;
    text-transform: uppercase;
}
.logo__name span {
	font-size: 29px;
}
.logo:hover .logo__name{
	color: #f26522;
}
.logo:hover .logo__img  {
	background-image: url(../img/logo2.png);
}
.contacts {
	float: right;
}
.contacts__email, .contacts__tel {
	color:  #fff;
	font-size: 26px;
    line-height: 35px;
	text-align: right;
}
.content {
	display: grid;
	grid-template-rows: 1fr 1fr;
  	grid-template-columns: 1fr 1fr 1fr;
  	grid-gap: 62px;
	padding-top: 45px;
	padding-bottom: 30px;
	width: 100%;
}
.content__title {
	color: #fff;
	text-align: center;
	font-size: 22px;
    transition: .3s;
}
.content__cell:hover .content__title {
	color: #f26522;
}
.content__card {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 20px;
	box-shadow: 0px 17px 24px 0px #000000;
}
.gradient {
	padding: 2px 2px 0 2px;
	background: linear-gradient(to bottom, #fff, rgb(0, 0, 0, 0)); 
	/*border: 2px solid;
	border-image: linear-gradient(to bottom, white, transparent) 1 100%;*/
}
.content__img {
	width: 100%;
}
.content__bottom-info {
	position: absolute;
	bottom: -61px;
	width: 100%;
	height: 60px;
	background: #f26522;
	transition: .4s;
	box-sizing: border-box;
	padding: 15px 20px;
}
.content__cell:hover .content__bottom-info {
	bottom: 0;
}
.price__txt {
	display: inline-block;
	color: #fff;
    font-size: 10px;
}
.price__txt span {
	font-size: 20px;
}
.price__link {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	float: right;
	margin-top: 12px;
}
.footer {
	margin: 30px 0;
}
.footer__data {
	color:  #fff;
	font-size: 12px;
	line-height: 21px;
	text-align: center;
}

