body {
	background: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
}
table {
  border-collapse: collapse;
}
td {
  width: 20px;
  height: 20px;
  border: 1px solid #999;
}
.white {
  background: #fff;
}
.black {
  background: #000;
}
.inversion .white{
  background: #000;
}
.inversion .black {
  background: #fff;
}