body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

nav {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	padding-top: 30px;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    width: 60vw;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}

li {
	display: inline;
	font-size: 18px;
	color: #16a085;
	text-align: center;
	cursor: pointer;
}

li:hover {
	color: #0dc09d;
}

nav+div {
	width: 100%;
	height: 500px;
	background: url(../img/img1.png);
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
}

nav+div>div {
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient( -45deg, #22222280, #22222280 2px, #3333338c 2px, #33333396 8px );
}

div+div{
	padding-top: 5px;
	padding-bottom: 5px;
	background: #f5f6f7;
}

div h1, div p {
	font-weight: 900;
	margin: 30px 5%;
	text-align: center;
}

div h1 {
	font-size: 22px;
}

div p {
	line-height: 1.6;
	font-size: 16px;
}

div+div>div {
	margin: 50px;
}

button {
	display: block;
	width: 200px;
    margin: 0 auto;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-size: 12px;
    color: white;
    background-color: #16a085;
    transition: .3s;
}

button:hover {
	background-color: #0dc09d;
}

footer {
	height: 100px;
    box-sizing: border-box;
    padding: 40px;
}

footer p {
	width: 315px;
    margin: 0;
    float: right;
}