/*------------------------------animation*/
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
/*------------------------------main block*/
h1, h2 {
	font-family: 'Montserrat', sans-serif;
}
p {
	font-family: 'Lato', sans-serif;
}
.parallax {
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-section {
	position: relative;
	width: 100%;
	min-height: 800px;
	height: 100vh;
	background-image: url("../img/bg1.jpg");
}
.header-container {
	position: absolute;
	bottom: 145px;
	left: 82px;
}
.header-title {
	color:  #ffffff;
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 16px;
	text-transform: uppercase;
}
.header-description {
	color:  #ffffff;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 28px;
}
.subtitle{ 
	display: inline-block;
	background-color:  rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	animation: fadeInLeft 1.5s;
	width: 160px;
	max-width: 850px;
  min-width: 161px;
}
.subtitle p {
	display: inline-block;
	padding: 49px 34px 42px 29px;;
	font-family: Montserrat;
	font-size: 54px;
	font-weight: 700;
	text-transform: uppercase;
}
#makeSmartDesign {
	display: none;
}
.we {
	background: #fff;
	color:  #f1ad1d;
}
.we > span{
	display: inline-block;
	animation: pulse 1s;
	animation-delay: 1.8s;
}
.make-smart-design {
	color: #fff;
}
.make-smart-design  span {
	/*display: inline-block;*/
	display: none;
}
.title {
	color:  #333333;
	font-size: 22px;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
}
.description {
	color:  #4d4943;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 52px;
}
.parallax .title {
	color: #fff;
	margin-bottom: 0;
}
.parallax .description {
	color: #fff;
	margin-top: 0;
	margin-bottom: 0;
}
.center-position {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.about {
	height: 372px;
}
.gold-line {
	background-color:  #f1ad1d;
	width: 60px;
	height: 3px;
}
.parallax .gold-line {
	margin-top: 60px;
	margin-bottom: 60px;
}
.gold-txt {
	color:  #f1ad1d;
}
.parallax2 {
	height: 380px;
	background-image: url(../img/bg2.jpg);
}
.team {
	height: 439px;
}
.parallax3 {
	height: 475px;
	background-image: url(../img/bg3.jpg);
}
.img-block {
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-block img {
	margin-right: 50px;
}
.work {
	height: 402px;
}
.parallax4 {
	height: 485px;
	background-image: url(../img/bg4.jpg);
}
.white-line {
	background-color:  #ffffff;
	width: 281px;
	height: 3px;
	margin-top: 40px;
}
.link {
	text-decoration: none;
}
.goods {
	height: 402px;
}
/*------------------------------for js*/
.invisible {
	opacity: 0;
	transition: .7s;
}
.visible {
	animation: fadeInUp 1s;
	opacity: 1;
}