.background {
	background-image: url(../img/normandy.jpg);
}
.header{
	background: transparent;
}
.change-theme-btn:hover {
	border-color: #d9bb88;
	color: #d9bb88;
}
.site-title a:hover{
	color: #d9bb88;
}
.header_icons-login-block, .header-icons {
	display: flex;
	align-items: center;
}
.header-icons {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	margin-right: 25px;
}
.icon {
	background: url(../img/css_sprites_normandy.png);
}
.calendar {
	background-position: -106px -10px;
}
.forum {
	width: 28px;
	background-position: -58px -10px;
}
.compass {
	background-position: -50px -50px;
}

.calendar:hover {
	background-position: -106px -49px;
}
.forum:hover {
	background-position: -10px -10px;
}
.compass:hover {
	background-position:  -10px -50px;
}
.link {
	color: #d9bb88;
}
.link:hover {
	text-decoration: underline;
}
.squere {
  background: #6e7f8a;
}
.facebook-btn {
	background-color: #6980ae;;
} 
.facebook-btn:hover {
	background-color:  #d9bb88;
}
.google-btn {
	background-color: #d46a59;
}
.google-btn:hover {
	background-color: #d9bb88;
}
.form-btn {
  background: #6e7f8a;
}
.form-btn:hover {
	background-color: #d9bb88;
}