.background {
	background-image: url(../img/background.jpg);
}
.header{
	background: rgba(0, 0, 0, 0.41);
}
.change-theme-btn:hover {
	border-color: #3aba78;
	color: #3aba78;
}
.site-title a:hover{
	color: #3cb878;
}
.icon {
	background: url(../img/css_sprites.png);
}
.calendar {
	background-position: -106px -10px;
}
.forum {
	width: 28px;
	background-position: -10px -10px;
}
.compass {
	background-position: -10px -50px;
}

.calendar:hover {
	background-position: -106px -49px;
}
.forum:hover {
	background-position: -58px -10px;
}
.compass:hover {
	background-position:  -50px -50px;
}
.link {
	color: #3cb878;
}
.link:hover {
	text-decoration: underline;
}
.squere {
  background: #3cb878;
}
.facebook-btn {
	background-color: #305db8;
} 
.facebook-btn:hover {
	background-color:  #264b96;
}
.google-btn {
	background-color: #df4a32;
}
.google-btn:hover {
	background-color: #c3412c;
}
.form-btn {
  background: #3aba78;
}
.form-btn:hover {
	background-color: #2f9b65;
}