body{
	background: beige;
	margin: 0;
}
.container {
  width: 50%;
  margin: 0 auto;
	min-height: 98vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	font-family: 'EB Garamond', serif;
}
.list__container {
	width: 100%;
	max-width: 100%;
	background: #fff;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 60px 30px;
	min-height: 500px;
	font-size: 30px;
}

.timer {
  margin-top: 40px;
  min-width: 90px;
  border-radius: 10px;
  background: #fff;
  font-size: 30px;
  padding: 10px 30px;
  box-sizing: border-box;
}