body {
	margin: 0;
	font-family: sans-serif;
}
#page {
	width: 1280px;
	margin: 0 auto;
}
header {
	width: 100%;
	height: 180px;
	padding-top: 40px;
	box-sizing: border-box;
}
header a {
	color: black;
	text-decoration: none;
	font-size: 80px;
}
header a span {
	color: #4bcaff;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #35444f;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;
	padding: 25px;
	color: white;
	font-size: 24px;
	border-right: .5px solid transparent;
	border-left: .5px solid transparent;
	cursor: pointer;
}
nav li:hover {
	border-right: .5px solid white;
	border-left: .5px solid white;
	background-color: #222f3a;
}
#content-block{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#content-block > div {
	box-sizing: border-box;
	padding-top: 50px;
}
#content-block > div:first-child {
	width: 30%;
	margin: 0;
	padding-right: 25px;
}
#content-block > div:first-child ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid black;
}
#content-block > div:first-child ul li {
	font-size: 27px;
	padding: 30px 40px;
	transition: .3s;
	cursor: pointer;
}
#content-block > div:first-child ul li:hover {
	padding: 30px 70px;
	background-color: lightgray;
}
#content-block > div:last-child {
	width: 70%;
	margin: 0;
	padding-left: 25px;
}
.img-container {
	width: 100%;
	height: 530px;
	border: 1px solid black;
	overflow: hidden;
}
.img-container div {
	width: 100%;
	height: 100%;
	background-image: url(../img/img2.png);
	background-position: center;
	background-repeat: no-repeat;
	transition: .5s;
}
.img-container div:hover {
	transform: scale(1.3);
}
#content-block > div:last-child > p {
	text-align: justify;
	margin: 30px 35px 30px 30px;
	font-size: 18px;
}
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #b4b7ba;
	width: 100%;
	padding-left: 20px;
	padding-right: 35px;
	box-sizing: border-box;
	margin-bottom: 30px;
}
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer li {
	display: inline-block;
	padding: 20px;
	font-size: 20px;
}
footer li:hover span{
	color: #3181a6;
	border-bottom: 2px solid #3181a6;
	cursor: pointer;
}
footer p {
	font-size: 20px;
}