body {
	background: beige;
	font-family: 'Orbitron', sans-serif;
	min-height: 98vh;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
}
.timer {
	display: flex;
	font-size: 50px;
  margin-bottom: 50px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #333;
	color: #333;
	text-align: center;
}
.btn {
	background: #fff;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #333;
	outline: none;
	min-width: 130px;
	font-size: 20px;
}
.clear {
	background: #b90000;
	color: #fff;
}
.hide {
  display: none;
}
.separator {
  margin-left: 20px;
}
.minute, 
.second,
.millisecond{
	width: 150px;
}